{% extends 'posts/index.html' %}

{% block content %}
    <div class="w-2/3 mx-auto max-lg:w-full">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3290.412009649445!2d19.665950837342454!3d46.09305710445503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474366d1b03dbbc5%3A0xfbb187d5a85acad0!2sVisoka%20tehni%C4%8Dka%20%C5%A1kola%20strukovnih%20studija%20-%20Subotica!5e0!3m2!1sen!2srs!4v1688643364744!5m2!1sen!2srs"
                class="w-full h-96 rounded-lg" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
{% endblock %}
