{% extends 'posts/index.html' %}

{% block content %}
    <h1 class="text-3xl">Welcome To Adam's Blog</h1>
    <div class="flex justify-center flex-wrap">
    {% for item in posts %}
        <div class="card w-96 bg-primary text-primary-content m-4">
            <div class="card-body">
                <span class="text-xs font-bold text-right">{{ item.user }}</span>
                <h2 class="card-title">{{ item.title }}</h2>
                <p>{{ item.body }}</p>
                <div class="card-actions justify-end">
                    <a href="{% url 'blog-post' item.id %}" class="btn">View Post</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}